// colors

$main-bg-color: rgba(
  $color: #515f67,
  $alpha: 1,
);
$bg-color: rgba(
  $color: #353f46,
  $alpha: 0.85,
);

$primary-color: white;
$accent-color: rgba(
  $color: rgb(127, 191, 219),
  $alpha: 1,
);
$active-color: rgba(
  $color: #4bcaff,
  $alpha: 1,
);

// fonts

$primary-font: 'Sintony', sans-serif;
