@mixin filter($visible: 100%) {
  -webkit-filter: grayscale($visible);
  -moz-filter: grayscale($visible);
  -ms-filter: grayscale($visible);
  -o-filter: grayscale($visible);
  filter: grayscale($visible);
  filter: gray;
}

@mixin __title($color) {
  color: $color;
  margin-bottom: 40px;
  font-size: $font-size-big;
  font-weight: 100;
  text-transform: uppercase;
  &::after {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 45px;
    margin-top: 5px;
    border-top: 2px solid $color;
  }
}
