@import 'common.scss';
@import 'variables.scss';
@import 'mixins.scss';

body {
  background: $main-bg-color;
  font-family: $primary-font;
}

.logo {
  text-transform: uppercase;
}
.links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  .el {
    .link {
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $accent-color;
        border: 2px solid $accent-color;
      }
    }
    .link.active {
      color: $active-color;
      border: 2px solid $active-color;
      box-shadow: 4px 4px 8px 2px rgba($active-color, 0.2);
    }
  }
}

.header {
  height: 800px;
  background-image: url(../imgs/header_background.png);
  background-size: cover;

  .nav-bar {
    background: $bg-color;

    .container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      height: 150px;
    }

    &__logo {
      color: $primary-color;
      font-size: $font-size-big;
      .e {
        color: $active-color;
      }
    }

    &__el {
      margin: 20px 0 20px 10px;
      &:first-child {
        margin-left: 0;
      }
    }
    &__link {
      padding: 10px 20px;
      font-size: $font-size-primary;
      border: 2px solid rgba($color: #000, $alpha: 0);

      color: $primary-color;
    }
  }

  &__hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_text {
      color: $primary-color;
      font-size: $font-size-big;
      text-transform: uppercase;
      padding: 20px;
      margin-top: 10px;
      :first-child {
        margin-top: 0;
      }
      background: rgba($color: #353f46, $alpha: 0.5);
    }
  }
}

.services {
  color: $primary-color;
  text-transform: uppercase;
  background: $active-color;

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  &__title {
    width: 100%;
    margin: 0;
    padding: 80px 0 0 0;
    font-size: $font-size-big;
    font-weight: 100;
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      width: 45px;
      margin-top: 5px;
      border-top: 2px solid $primary-color;
    }
  }

  &__service {
    width: 20%;
    padding-bottom: 80px;
    &__icon {
      width: 55px;
      height: 55px;
      margin-top: 40px;
    }
    .coffee {
      background-image: url('../imgs/coffee-break.svg');
      background-size: cover;
    }
    .instant {
      background-image: url('../imgs/instant-camera.svg');
      background-size: cover;
    }
    .serious {
      background-image: url('../imgs/scroll.svg');
      background-size: cover;
    }

    .frame {
      background-image: url('../imgs/frame.svg');
      background-size: cover;
    }
    &__title {
      font-size: $font-size-medium;
      margin: 25px 0 0 0;
    }
    &__desc {
      font-size: $font-size-primary;
      text-transform: initial;
    }
  }
}

.portfolio {
  min-height: 400px;
  background: $primary-color;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 80px;
  }
  &__logo {
    color: $alter-primary-color;
    font-size: $font-size-big;
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      width: 45px;
      margin-top: 5px;
      border-top: 2px solid $alter-primary-color;
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    margin: 0;
  }
  @media (max-width: 991.98px) {
    &__btns {
      margin-top: 45px;
    }
  }
  @media (max-width: 767.98px) {
    &__el {
      margin-bottom: 30px;
    }
  }
  &__el {
    font-weight: 700;
    margin-left: 25px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__btn {
    outline: none; /* Для синий ободки */
    background: transparent;
    padding: 10px 15px;
    font-size: $font-size-primary;
    border: 2px solid rgba($color: #000, $alpha: 0);
    color: $alter-primary-color;
  }

  &__works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  &__work {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    transition: 0.5s all;

    @media (max-width: 991.98px) and (min-width: 768px) {
      & {
        width: 50%;
        height: 50%;
      }
    }

    @media (max-width: 1199.97px) and (min-width: 992px) {
      & {
        width: 33.3333%;
        height: 33.3333%;
      }
    }

    @media (min-width: 1199.98px) {
      & {
        width: 25%;
        height: 25%;
      }
    }
  }

  .anime {
    transform: scale(0);
    opacity: 0;
  }

  .hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes hide {
    0% {
      visibility: visible;
      height: 200px;
    }
    100% {
      visibility: hidden;
      width: 0;
      height: 0;
      max-width: 0;
      font-size: 0;
      margin: 0;
    }
  }

  &__img {
    width: 270px;
    height: 270px;
    padding: 10px;
    object-fit: cover;

    transition: 0.5s all;
    @include filter(80%);
    &:hover {
      @include filter(0%);
      box-shadow: 4px 4px 8px 15px rgba($accent-color, 0.2);
    }
    &:active {
      box-shadow: 4px 4px 8px 15px rgba($active-color, 0.4);
    }
  }

  &__cover {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba($color: #515f67, $alpha: 0.3);
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
    &:hover {
      background: rgba($color: #515f67, $alpha: 0);
      box-shadow: 4px 4px 8px 15px rgba($accent-color, 0.2);
      @include filter(20%);
    }
    &:active {
      box-shadow: 4px 4px 8px 15px rgba($active-color, 0.4);
    }
  }

  &__wrapper_lm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__load_more {
    margin: 30px;
    padding: 10px 30px;
    font-size: $font-size-primary;
    text-transform: uppercase;
    text-align: center;
    background: #042a63;
    border: 2px solid #042a63;
    border-radius: 3px;
    color: $primary-color;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
    outline: none;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    &:hover {
      border: 2px solid $accent-color;
      background-color: $accent-color;
      box-shadow: 4px 4px 8px 0px rgba($accent-color, 0.2);
    }
    &:active {
      border: 2px solid $active-color;
      background-color: $active-color;
      box-shadow: 4px 4px 8px 0px rgba($active-color, 0.2);
    }
  }
}

.defoultSection {
  width: 100%;
  color: $primary-color;
  .container {
    height: 330px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 0;
    position: relative;
  }

  &__text {
    width: 50%;
    margin-right: 130px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: $font-size-big;
    font-weight: 100;
    text-transform: uppercase;
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      width: 45px;
      margin-top: 5px;
      border-top: 2px solid $primary-color;
    }
  }
  //
  &__desc {
    margin: 0;
    margin-bottom: 40px;
  }

  .visit-me {
    width: 50%;
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    border: 2px solid black;
    padding: 20px 40px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    &:hover {
      color: $accent-color;
      border: 2px solid $accent-color;
      box-shadow: 4px 4px 8px 0px rgba($accent-color, 0.2);
    }
    &:active {
      color: $active-color;
      border: 2px solid $active-color;
      box-shadow: 4px 4px 8px 0px rgba($active-color, 0.2);
    }
  }

  &__video {
    position: absolute;
    top: 80px;
    left: 50%;
    right: 0;
    bottom: 80px;
    .video_mock {
      border: 2px solid rgba($color: $primary-color, $alpha: 0.1);
      box-shadow: 4px 4px 8px 15px rgba(34, 60, 80, 0.2);
      min-width: calc(100%-15px);
      min-height: 100%;
      max-width: calc(100%-15px);
      max-height: 100%;

      margin-left: 15px;
    }
  }
}
