@import 'common.scss';
@import 'variables.scss';
@import 'mixins.scss';

body {
  background: $main-bg-color;
  font-family: $primary-font;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 80px 0;
}

.logo {
  position: relative;
  text-transform: uppercase;
}
.links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $accent-color;
    border: 2px solid $accent-color;
  }
}

.link.active {
  color: $active-color;
  border: 2px solid $active-color;
  box-shadow: 4px 4px 8px 2px rgba($active-color, 0.2);
}

.header {
  height: 800px;
  background: url('../imgs/header_background.png') center/cover no-repeat;

  .nav-bar {
    background: $bg-color;

    .container {
      align-items: center;
      height: 150px;
      padding: 0;
    }

    &__logo {
      color: $primary-color;
      font-size: $font-size-big;
      .e {
        color: $active-color;
      }
    }

    &__el {
      margin: 20px 0 20px 10px;
      &:first-child {
        margin-left: 0;
      }
    }
    &__link {
      color: $primary-color;
      padding: 10px 20px;
      font-size: $font-size-primary;
      font-weight: 400;
      border: 2px solid rgba($color: #000000, $alpha: 0);
    }
    .link {
      &:hover {
        color: $accent-color;
        border: 2px solid $accent-color;
      }
    }

    .link.active {
      color: $active-color;
      border: 2px solid $active-color;
      box-shadow: 4px 4px 8px 2px rgba($active-color, 0.2);
    }
  }

  &__hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_text {
      color: $primary-color;
      font-size: $font-size-big;
      text-transform: uppercase;
      padding: 20px;
      margin-top: 10px;
      :first-child {
        margin-top: 0;
      }
      background: rgba($color: #353f46, $alpha: 0.5);
    }
  }
}

.services {
  color: $primary-color;
  text-transform: uppercase;
  background: $active-color;

  .container {
    padding: 0;
  }

  &__title {
    @include __title($primary-color);
    width: 100%;
    margin: 0;
    padding: 80px 0 0 0;
  }

  &__service {
    width: 20%;
    padding-bottom: 80px;
    &__icon {
      width: 55px;
      height: 55px;
      margin-top: 40px;
    }
    .coffee {
      background: url('../imgs/coffee-break.svg') center/cover no-repeat;
      background-size: 55px 55px;
    }
    .instant {
      background: url('../imgs/instant-camera.svg') center/cover no-repeat;
      background-size: 55px 55px;
    }
    .serious {
      background: url('../imgs/scroll.svg') center/cover no-repeat;
      background-size: 55px 55px;
    }

    .frame {
      background: url('../imgs/frame.svg') center/cover no-repeat;
      background-size: 55px 55px;
    }
    &__title {
      font-size: $font-size-medium;
      margin: 25px 0 0 0;
    }
    &__desc {
      font-size: $font-size-primary;
      font-weight: 400;
      text-transform: initial;
    }
  }
}

.portfolio {
  min-height: 400px;
  background: $primary-color;
  .container {
    align-items: center;
    padding-bottom: 0;
  }

  &__logo {
    @include __title($alter-primary-color);
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    margin: 0;
  }
  @media (max-width: 991.98px) {
    &__btns {
      margin-top: 45px;
    }
  }
  @media (max-width: 767.98px) {
    &__el {
      margin-bottom: 30px;
    }
  }
  &__el {
    font-weight: 700;
    margin-left: 25px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__btn {
    outline: none; /* Для синий ободки */
    background: transparent;
    padding: 10px 15px;
    font-size: $font-size-primary;
    font-weight: 400;
    border: 2px solid rgba($color: #000, $alpha: 0);
    color: $alter-primary-color;
  }

  &__works {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 200px;
    list-style: none;
    padding: 0;
    margin: -10px 0 0 0;
  }

  &__work {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s all;

    @media (max-width: 991.98px) and (min-width: 768px) {
      & {
        width: 50%;
      }
    }

    @media (max-width: 1199.97px) and (min-width: 992px) {
      & {
        width: 33.3333%;
      }
    }

    @media (min-width: 1199.98px) {
      & {
        width: 25%;
      }
    }
    @include __heightEqualwidth();
  }

  .anime {
    transform: scale(0);
    opacity: 0;
  }

  .hide {
    order: 1;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes hide {
    0% {
      visibility: visible;
      height: 200px;
    }
    100% {
      visibility: hidden;
      width: 0;
      height: 0;
      max-width: 0;
      font-size: 0;
      margin: 0;
    }
  }

  &__img {
    width: 270px;
    height: 270px;
    object-fit: cover;

    transition: 0.5s all;
    @include filter(80%);
    &:hover {
      @include filter(0%);
      box-shadow: 4px 4px 8px 15px rgba($accent-color, 0.2);
    }
    &:active {
      box-shadow: 4px 4px 8px 15px rgba($active-color, 0.4);
    }
  }

  &__cover {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //background: rgba($color: #515f67, $alpha: 0.3);
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
  }

  &__wrapper_lm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__load_more {
    margin: 30px 0 80px 0;
    padding: 10px 30px;
    font-size: $font-size-primary;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background: #042a63;
    border: 2px solid #042a63;
    border-radius: 3px;
    color: $primary-color;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
    outline: none;
    cursor: pointer;
    @include __transparentBorder(2px);
    @include __highlight(2px);
  }
}

.defoultSection {
  display: flex;
  width: 100%;
  color: $primary-color;
  .container {
    height: 100%;
    flex-direction: column;
    position: relative;
  }

  &__title {
    @include __title($primary-color);
    width: 100%;
    order: 0;
  }
  //
  &__desc {
    order: 2;
    margin: 0;
    margin-bottom: 40px;
    font-size: $font-size-primary;
    font-weight: 400;

    width: 50%;
    margin-right: 130px;

    @media (max-width: 767.98px) {
      & {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .visit-me {
    order: 2;
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    border: 2px solid black;
    padding: 20px 40px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: all 0.25s ease-out;
    &:hover {
      color: $accent-color;
      border: 2px solid $accent-color;
      box-shadow: 4px 4px 8px 0px rgba($accent-color, 0.2);
    }
    &:active {
      color: $active-color;
      border: 2px solid $active-color;
      box-shadow: 4px 4px 8px 0px rgba($active-color, 0.2);
    }
  }

  &__video {
    .video_mock {
      border: 2px solid rgba($color: $primary-color, $alpha: 0.1);
      box-shadow: 4px 4px 8px 15px rgba(34, 60, 80, 0.2);
      min-width: calc(100%-15px);
      min-height: 100%;
      max-width: calc(100%-15px);
      max-height: 100%;
      margin-left: 15px;
      cursor: pointer;
      transition: all 0.25s ease-out;

      @include filter(60%);
      &:hover {
        @include filter(0%);
        box-shadow: 0px 0px 14px 6px rgba($accent-color, 0.2);
      }
      &:active {
        box-shadow: 0px 0px 14px 6px rgba($active-color, 0.3);
      }
    }

    @media (max-width: 767.98px) {
      & {
        width: 100%;
        margin-bottom: 45px;
        order: 1;
      }
    }
    @media (min-width: 767.99px) {
      & {
        position: absolute;
        top: 80px;
        left: 50%;
        right: 0;
        bottom: 80px;
      }
    }
  }
}

.twitter {
  background: $active-color;
  color: $primary-color;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  &__title {
    @include __title($primary-color);
  }
  &__icon {
    @include __icon('../imgs/twitter.svg');
  }

  &__desc {
    font-size: $font-size-medium;
    margin: 0;
    padding-right: 100px;
  }
  .link_sc {
    color: $primary-color;
  }
}

.link_hide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  border-radius: 50%;
}

.who-is {
  color: $primary-color;
  background: url('../imgs/who-is.fon.png') center/cover no-repeat;

  .container {
    padding: 100px 0 165px 0;
  }

  &__title {
    @include __title($primary-color);
    width: 100%;
  }

  &__desc {
    width: 50%;
    margin-bottom: 35px;
    font-size: $font-size-primary;
    &:nth-child(2n) {
      padding-right: 25px;
    }
    &:nth-child(2n + 1) {
      padding-left: 25px;
    }
  }

  &__icons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 25px;
    width: 50%;
    .wrapper {
      position: relative;
      height: 65px;
      width: 65px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $primary-color;
      transition: all 0.25s ease-out;
      &:hover {
        border: 2px solid $active-color;
        box-shadow: 4px 4px 8px 2px rgba($active-color, 0.2);
      }
      &:active {
        border: 2px solid $accent-color;
        box-shadow: 4px 4px 8px 2px rgba($accent-color, 0.2);
      }
    }

    .twitter__icon {
      @include __icon('../imgs/twitter.svg');
    }

    .googlePlus__icon {
      @include __icon('../imgs/google-plus-logo.svg');
    }

    .dribbble__icon {
      @include __icon('../imgs/dribbble-logo.svg');
    }

    .coffee__icon {
      @include __icon('../imgs/coffee-cup.svg');
    }
  }
}

.testimonials {
  color: $alter-primary-color;
  background: $primary-color;
  .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 80px 0;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    @include __title($alter-primary-color);
  }

  &__icon {
    @include __icon('../imgs/right-quotes-symbol.svg');
  }
  &__desc {
    font-size: $font-size-medium;
    padding-right: 100px;
  }

  &__author {
    margin: 0;
    padding-top: 45px;
    color: $active-color;
    font-size: $font-size-primary;
    font-weight: 700;
  }
}

.contact {
  color: $primary-color;
  background: url('../imgs/contact-fon.png') center/cover no-repeat;

  &__title {
    @include __title($primary-color);
  }

  &__form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__desc {
    width: 50%;
    padding: 0 0 0 15px;
    margin: -20px 0 0 0;
  }

  .label_fullName {
    padding: 40px 0 10px 0;
    margin-right: 70%;
    text-transform: uppercase;
  }

  #fullName {
    width: calc(50%-115px);
    height: 58px;
    margin: 0;
    padding: 5px 10px;

    @include __textarea();
  }

  .label_email {
    padding: 40px 0 10px 0;
    margin-right: 100%;
    text-transform: uppercase;
  }

  #email {
    width: calc(50%-115px);
    height: 58px;
    margin: 0;
    padding: 5px 10px;

    @include __textarea();
  }

  .label_message {
    padding: 40px 0 10px 0;
    margin-right: 100%;
    text-transform: uppercase;
  }

  #message {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 218px;
    resize: vertical;
    max-height: 400px;
    min-height: 100px;
    @include __textarea();
  }

  &__submit {
    color: $primary-color;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 25px 155px;
    background: $active-color;
    outline: none;
    border: none;
    cursor: pointer;

    @include __transparentBorder(2px);
    @include __highlight(2px);
  }
}

.footer {
  color: $primary-color;
  background: $bg-color;
  .container {
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  &__el {
    padding-right: 15px;

    &::after {
      content: '|';
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        content: '';
      }
    }
  }

  &__link {
    color: $primary-color;
    &:hover {
      @include __transparentBorder(0px);
    }
  }
}
